html
  head
    title Student Management
    link(rel='stylesheet', type='text/css', href='/public/style.css')

  body
    h1 Student Management

    form(action='/add', method='post')
      label(for='name') Name
      input(type='text' name='name' required)

      label(for='age') Age
      input(type='number' name='age' required)

      label(for='id') ID
      input(type='number' name='id' required)

      label(for='score') Score
      input(type='number' name='score' required)

      button(type='submit') Add Student

    table(class='students-table')
      thead
        tr
          th Name
          th ID
          th Age
          th Score

          th View

          th Edit

          th Delete

      tbody
        each student in students
          tr
            td #{student.name}
            td #{student.id}
            td #{student.age}
            td #{student.score}

            td
              a(href='/view?id=#{student.id}') View

            td
              a(href='/edit?id=#{student.id}') Edit

            td
              button(type='button', data-id="#{student.id}") Delete

    form(action='/view', method='post')
      label(for='student-id') Student ID:
      input(type='number' name='id' id='student-id' required)

      button(type='submit') View Student

    script(src='/public/script.js')

    if message
      p #{message}