html
  head
    title Students
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css')

  body
    nav 
      h1 Student Management
    main
      form(action='/add', method='post')      
        label(for='name') Name
        input(type='text' name='name' required)

        label(for='age') Age
        input(type='number' name='age' required)

        label(for='id') ID
        input(type='number' name='id' required)

        each subject, index in ['Math', 'Science', 'History', 'Art']
          label(for='grades' + index)= subject
          input(type='number' name='grades[]' required)
        
        button(type='submit') Add Student

      h2 Students Table
      table
        thead
          tr
            th Name
            th ID
            th Age
            each subject in ['Math', 'Science', 'History', 'Art']
              th= subject

        tbody
          each s in students
            tr
              td
                a(href='/students/'+s.id)= s.name
              td= s.id
              td= s.age
              each grade in s.grades
                td= grade
