html
  head
    title= name
  body
    form
      label(for='name') Name
      input#name(type='text', value=name, readonly)
      label(for='id') ID
      input#id(type='number', value=id, readonly)
      label(for='age') Age
      input#age(type='number', value=age, readonly)
      label(for='score') Score
      input#score(type='number', value=score, readonly)